/* Reset start */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: underline;
}
input,
textarea {
    outline: 0;
    &:focus-visible {
        box-shadow: none !important;
    }
}
ul {
    list-style: disc;
    padding-left: 20px;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
button {
    outline: none;
}
/* Reset end */

#app{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.scaleButtonContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.scaleButton{
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: #222;
    color: #fff;
    border-radius: 100px;
    opacity: 1;
}
.scaleButton:hover{
    opacity: .8;
}
