* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: underline;
}
input,
textarea {
    outline: 0;
    &:focus-visible {
        box-shadow: none !important;
    }
}
ul {
    list-style: disc;
    padding-left: 20px;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
button {
    outline: none;
}